body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
  padding: 12px;
  background-color: #010305;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

input {
  width: 60%;
  padding: 12px;
  margin-right: 10px;
  border: 2px solid;
  border-radius: 6px;
  font-size: 16px;
}

h2 {
  color: #333;
}

strong {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

